.wrapper{
    display: flex;
    align-items:center;
    flex-direction: row;
}

img{
    width: 100px;
}


#amazon{
    align-self: flex-end;
    order:1;
}
#beats{
    order:2;
}
#adidas{
    order:3;
}
#apple{
    order:4;
}